.date
  - unless local_assigns[:weeks]
    %i.fa.fa-calendar
  %ul.start-date
    %li.year.num= "#{week.start_date.year}"
    %li.month.num= "#{p sprintf("%0#2d", week.start_date.month)}"
    %li.day.num= p sprintf("%0#2d", week.start_date.day)
  %i.fa.fa-arrow-right
  %ul.end-date
    %li.month.num= "#{p sprintf("%0#2d", week.end_date.month)}"
    %li.day.num= p sprintf("%0#2d", week.end_date.day)
  - if local_assigns[:tasks]
    %i.fa.fa-angle-right
.right
  .total-points
    %i.fa.fa-check
    %span.num<>
      = week.total_point(current_user)
    pt 
    - if local_assigns[:weeks]
      %i.fa.fa-chevron-right
