= form_for(@task) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title, 'TASK'
    = f.text_field :title
  .field
    = f.label :point, 'POINT'
    = f.select :point, [[1],[2],[3],[5],[8]], include_blank: '---'
  -# FIXME hidden_fieldにして現在のSTATUSに応じてSTART, FINISH, RESTART ボタンを表示
  .field
    = f.label :status, 'STATUS'
    = f.select :status, [['unstarted'],['doing'],['done']]
  .field
    = f.label :memo, 'MEMO'
    %br/
    = f.text_area :memo
  .actions
    = f.submit
