%ul
  -# [FIXME] 末尾に配列がそのままrender される、なぜだ・・・・
  - pts = [0, 1, 2, 3, 5, 8]
  = pts.each do |pt|
    %li{class: "pt#{pt}"}
      = f.radio_button :point, pt
      = f.label :point, for: "task_point_#{pt}" do
        %span.num<>= pt
        pt
