%li.task{id: "task#{task.id}", class: "#{task.status} pt#{task.point}"}
  =link_to edit_task_path(task), remote: true do
    %span.title<>= task.title
    - if task.point.present?
      %span.point<>
        %span.num<>= task.point
        pt
        %i.fa.fa-chevron-right
    - else
      %span.point<>
        %span<>= '─'
        pt
        %i.fa.fa-chevron-right
  = render ("tasks/task/#{task.status}"), task: task
