%li.task{class: "#{task.status} pt#{task.point}"}
  =link_to edit_task_path(task) do
    %span.title<>= task.title
    - if task.point.present?
      %span.point<>
        %span.num<>= task.point
        pt
        %i.icon-chevron-right
    - else
      %span.point<>
        %span<>= '─'
        pt
        %i.icon-chevron-right
  - if task.status == 'unstarted'
    %span.status<>
      = render ('tasks/form/start'), task: task
  - if task.status == 'doing'
    %span.status<>
      = render ('tasks/form/done'), task: task
  - if task.status == 'done'
    %span.status<>
      = render ('tasks/form/restart'), task: task
