.edit{class: "#{@task.status} pt#{@task.point}"}
  .form
    .form-header
      - case @task.status
      - when 'unstarted'
        %h2
          STANDBY
          %i.icon-arrow-right
        = form_for(@task) do |f|
          = f.hidden_field :status, value: 'doing' 
          = f.button " #{content_tag(:i, '', class: 'icon-play')}START".html_safe, type: :submit
      - when 'doing'
        %h2
          DOING
          %i.icon-arrow-right
        = form_for(@task) do |f|
          = f.hidden_field :status, value: 'done' 
          = f.button "#{content_tag(:i, '', class: 'icon-ok')}DONE".html_safe, type: :submit
      - when 'done'
        %h2
          DONE
          %i.icon-arrow-right
        = form_for(@task) do |f|
          = f.hidden_field :status, value: 'doing' 
          = f.button "#{content_tag(:i, '', class: 'icon-repeat')}RESTART".html_safe, type: :submit
    = render 'form'
