.edit{class: "#{@task.status} pt#{@task.point}"}
  .form
    %p.destroy
      = link_to task_path(@task), method: 'delete', confirm: '本当に削除してよろしいですか？' do
        DELETE
        %i.fa.fa-times-circle
    .form-header
      = render ("tasks/statuses/#{@task.status}"), task: @task
    = render 'form'
    .time
      %dl
        %dt START
        - if @task.started_at
          %dd.num= @task.started_at.to_s(:db)
        - else
          %dd= '---'
        %dt FINISH
        - if @task.finished_at
          %dd.num= @task.finished_at.to_s(:db)
        - else
          %dd= '---'
