.edit{class: "#{@task.status} pt#{@task.point}"}
  .form
    - case @task.status
    - when 'unstarted'
      %h2 UNSTARTED
      %p.status-button
        = link_to '#' do
          %i.icon-play-sign
          START
    - when 'doing'
      %h2 DOING
      %p.status-button
        = link_to '#' do
          %i.icon-ok-sign
          DONE
    - when 'done'
      %h2 DONE
      %p.status-button
        = link_to '#' do
          %i.icon-repeat
          RESTART
    = render 'form'
