.edit{class: "#{@task.status} pt#{@task.point}"}
  .form
    %p.destroy
      = link_to task_path(@task), method: 'delete', confirm: '本当に削除してよろしいですか？' do
        DELETE
        %i.icon-remove-sign
    .form-header
      - case @task.status
      - when 'unstarted'
        %h2
          STANDBY
          %i.icon-arrow-right
        = render ('tasks/forms/start'), task: @task
      - when 'doing'
        %h2
          DOING
          %i.icon-arrow-right
        = render ('tasks/forms/done'), task: @task
        = render ('tasks/forms/stop'), task: @task
      - when 'done'
        %h2
          DONE
          %i.icon-arrow-right
        = render ('tasks/forms/restart'), task: @task
    = render 'form'
    .time
      %dl
        %dt START
        - if @task.started_at
          %dd.num= @task.started_at.to_s(:db)
        - else
          %dd= '---'
        %dt FINISH
        - if @task.finished_at
          %dd.num= @task.finished_at.to_s(:db)
        - else
          %dd= '---'
