.form.new-task
  = form_for(@task) do |f|
    - if @task.errors.any?
      #error_explanation
        %h2
          = pluralize(@task.errors.count, "error")
          prohibited this task from being saved:
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.text_field :title, class: 'task-title', placeholder: 'NEW TASK TITLE', required: true
      %i.icon-pencil
    .field.point-radio
      = render ('tasks/form/points'), f: f
      = f.hidden_field :status, value: 'unstarted' 
    .actions
      - if sign_in?
        = f.button "#{content_tag(:i, '', class: 'icon-plus-sign')}".html_safe, type: :submit
      - else
        - # FIXME
        = link_to '/auth/twitter' do
          Sign in with Twitter

.iteration-summary
  = link_to iteration_path(@this_iteration) do
    = render 'iterations/summary', iteration: @this_iteration, tasks: true

- if sign_in? && @tasks.present?
  = render 'tasks'
- else
  %p.error-message There's no tasks yet.
