= link_to new_task_path do
  %i.icon-plus-sign
%nav
  -# TODO ステータスによって出し分けナビ
  %ul.tasks-sort-nav
    %li= link_to 'UNSTARTED', '#'
    %li= link_to 'DOING', '#' 
    %li= link_to 'DONE', '#'

%ul.tasks-list
  - @tasks.each do |task|
    -# FIXME ステータスによってclassを変える
    %li.task
      =link_to edit_task_path(task) do
        %span.title<>= task.title
        - if task.point.present?
          %span.point<>
            %span.num<>= task.point
            pts
        - else
          %span.point<>
            %span.num<> ─
            pts
      - if task.status == 'unstarted'
        %span.status.start<>
          = link_to 'START', '#'
      - if task.status == 'doing'
        %span.status.finish<>
          = link_to 'FINISH', '#'
      - if task.status == 'done'
        %span.status.restart<>
          = link_to 'RESTART', '#'
