%p.new-task
  = link_to new_task_path do
    %i.icon-plus-sign

%ul.tasks-list
  - @tasks.each do |task|
    %li.task{class: "#{task.status} pt#{task.point}"}
      =link_to edit_task_path(task) do
        %span.title<>= task.title
        - if task.point.present?
          %span.point<>
            %span.num<>= task.point
            pt
            %i.icon-chevron-right
        - else
          %span.point<>
            %span<>= '─'
            pt
            %i.icon-chevron-right
      - if task.status == 'unstarted'
        %span.status<>
          = form_for(task) do |f|
            = f.hidden_field :status, value: 'doing' 
            = f.button " #{content_tag(:i, '', class: 'icon-play-sign')}START".html_safe, type: :submit
      - if task.status == 'doing'
        %span.status<>
          = form_for(task) do |f|
            = f.hidden_field :status, value: 'done' 
            = f.button "#{content_tag(:i, '', class: 'icon-ok-sign')}DONE".html_safe, type: :submit
      - if task.status == 'done'
        %span.status<>
          = form_for(task) do |f|
            = f.hidden_field :status, value: 'doing' 
            = f.button "#{content_tag(:i, '', class: 'icon-repeat')}RESTART".html_safe, type: :submit
