<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Point</th>
    <th>Status</th>
    <th>Memo</th>
    <th>Started at</th>
    <th>Finished at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.point %></td>
    <td><%= task.status %></td>
    <td><%= task.memo %></td>
    <td><%= task.started_at %></td>
    <td><%= task.finished_at %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
