%p.new-task
  = link_to new_task_path do
    %i.icon-plus-sign

%ul.tasks-list
  - @tasks.each do |task|
    %li.task{class: "#{task.status} pt#{task.point}"}
      =link_to edit_task_path(task) do
        %span.title<>= task.title
        - if task.point.present?
          %span.point<>
            %span.num<>= task.point
            pt
            %i.icon-chevron-right
        - else
          %span.point<>
            %span<>= '─'
            pt
            %i.icon-chevron-right
      - if task.status == 'unstarted'
        %span.status<>
          = link_to '#' do
            %i.icon-caret-right
            %span<> START
      - if task.status == 'doing'
        %span.status<>
          = link_to '#' do
            %i.icon-ok-sign
            %span<> DONE
      - if task.status == 'done'
        %span.status<>
          = link_to '#' do
            %i.icon-repeat
            %span<> RESTART
