<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Point:</b>
  <%= @task.point %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Memo:</b>
  <%= @task.memo %>
</p>

<p>
  <b>Started at:</b>
  <%= @task.started_at %>
</p>

<p>
  <b>Finished at:</b>
  <%= @task.finished_at %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
