.date
  - unless local_assigns[:iterations]
    %i.fa.fa-calendar
  %ul.start-date
    %li.year.num= "#{iteration.start_date.year}"
    %li.month.num= "#{p sprintf("%0#2d", iteration.start_date.month)}"
    %li.day.num= p sprintf("%0#2d", iteration.start_date.day)
  %i.fa.fa-arrow-right
  %ul.end-date
    %li.month.num= "#{p sprintf("%0#2d", iteration.end_date.month)}"
    %li.day.num= p sprintf("%0#2d", iteration.end_date.day)
  - if local_assigns[:tasks]
    %i.fa.fa-angle-right
.right
  .total-points
    %i.fa.fa-check
    %span.num<>
      = iteration.total_point(current_user)
    pt 
    - if local_assigns[:iterations]
      %i.fa.fa-chevron-right
