.date
  %i.icon-calendar
  %ul.start-date
    %li.year.num= "#{iteration.start_date.year}"
    %li.month.num= "#{p sprintf("%0#2d", iteration.start_date.month)}"
    %li.day.num= p sprintf("%0#2d", iteration.start_date.day)
  %i.icon-arrow-right
  %ul.end-date
    %li.month.num= "#{p sprintf("%0#2d", iteration.end_date.month)}"
    %li.day.num= p sprintf("%0#2d", iteration.end_date.day)
  - if local_assigns[:tasks]
    %i.icon-angle-right
.right
  .total-points
    %i.fa.fa-check
    %span.num<>
      = iteration.total_point
    pt 
