%p= @iteration.start_date
%p= @iteration.end_date
- if @tasks.present?
  %ul.tasks-list
    - @tasks.each do |task|
      %li.task{class: "#{task.status} pt#{task.point}"}
        =link_to edit_task_path(task) do
          %span.title<>= task.title
          - if task.point.present?
            %span.point<>
              %span.num<>= task.point
              pt
              %i.icon-chevron-right
          - else
            %span.point<>
              %span<>= '─'
              pt
              %i.icon-chevron-right
        - if task.status == 'unstarted'
          %span.status<>
            = form_for(task) do |f|
              = f.hidden_field :started_at, value: Time.now.to_s(:db)
              = f.hidden_field :status, value: 'doing' 
              = f.hidden_field :iteration_id, value: nil
              = f.button " #{content_tag(:i, '', class: 'icon-play-sign')}START".html_safe, type: :submit
        - if task.status == 'doing'
          %span.status<>
            = form_for(task) do |f|
              = f.hidden_field :finished_at, value: Time.now.to_s(:db)
              = f.hidden_field :status, value: 'done' 
              = f.hidden_field :iteration_id, value: @this_iteration.id
              = f.button "#{content_tag(:i, '', class: 'icon-ok-sign')}DONE".html_safe, type: :submit
        - if task.status == 'done'
          %span.status<>
            = form_for(task) do |f|
              = f.hidden_field :started_at, value: Time.now.to_s(:db)
              = f.hidden_field :status, value: 'doing' 
              = f.hidden_field :iteration_id, value: nil
              = f.button "#{content_tag(:i, '', class: 'icon-repeat')}RESTART".html_safe, type: :submit
