= form_for(task) do |f|
  = f.hidden_field :started_at, value: Time.now.to_s(:db)
  = f.hidden_field :status, value: 'doing' 
  = f.hidden_field :iteration_id, value: nil
  = f.button "#{content_tag(:i, '', class: 'fa fa-repeat')}RESTART".html_safe, type: :submit
