!!!
%html
  %head
    %title K-tra! The Lightweight Task Tracker
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta(name='viewport' content= "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")/
    %meta(name='format-detection' content= "telephone=no")/
    %meta(name='apple-mobile-web-app-capable' content= "yes")/
    %meta(name='apple-mobile-web-app-status-bar-style' content= "black-translucent")/
    %meta(name='description' content= "")/
    %meta(name='keywords' content= "")/
    %meta(property='og:title' content= "K-tra! The Lightwaight Task Tracker")/
    %meta(property='og:url' content= "")/
    %meta(property='og:type' content= "")/
    %meta(property='og:site_name' content= "ktra")/
    %link(rel='apple-touch-icon' href= "")/
    %link(rel='shortcut-icon' href= "favicon.ico")/
  %body
    %header.header
      %h1= link_to "K-tra!", root_path
      .user
        %p.image= link_to image_tag('https://si0.twimg.com/profile_images/3703695062/b57c347a35c1fe6c4e09eca37eb7b327_normal.jpeg', alt: 'ken_c_lo'), 'auth/twitter'
        %p.name= link_to 'ken_c_lo', 'auth/twitter'
    = yield
    %footer.footer
      %small
        Created by
        =link_to '@ken_c_lo', 'https://twitter.com/ken_c_lo', target: '_blank'
        , Thanks 
        =link_to '#p4d', 'http://prog4designer.github.io/', target: '_blank'
        %br 
        =link_to 'CC BY-NC-SA 2.1', 'http://creativecommons.org/licenses/by-nc-sa/2.1/jp/', target: '_blank'

